*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: #131419;
    background-image: linear-gradient(135deg #131419 0%,#28313b 74%);
    overflow-x: hidden;
    transform-style: preserve-3d;

}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3em;

    /* background-color: red; */
}


.menu{
    max-width: 72em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* background-color: green; */
}


.logo{
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 4em;
}


.hamburger{
    width: 3em;
    height: 4em;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bar{
    position: relative;
    width: 1.9em;
    height: 1.5px;
    border-radius: 2px;
    background-color: #fff;
    transition: .5s;
}

.bar::before, .bar::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    transition: .5s;
}

.bar::before{
    transform: translateY(-9px);
}

.bar::after{
    transform: translateY(9px);
}


.main{
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    transition: .3s ease;

    transform-origin: left;
    transform-style: preserve-3d;
}

header{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(bg-2.jpg) no-repeat;
    background-size: cover;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43,51,59,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    max-width: 35em;
    text-align: center;
    color: #fff;
    padding: 0 2em;
}

.title{
    font-size: 3em;
    margin-bottom: 20px;
}

.defination {
    margin-top: 5px;
    font-size: 1.2em;
}

.btn{
    margin-top: 1.4em;
    padding: 0.8em 1.8em;
    background-color: royalblue;
    border: none;
    border-radius: 2em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: #000;
    color: #fff;
    transform: translateY(-5px);
}


.container.active .bar{
    transform: rotate(360deg);
    background: transparent;
}

.container.active .bar::before{
    transform: translateY(0) rotate(45deg);
}

.container.active .bar::after{
    transform: translateY(0) rotate(-45deg);
}


.container.active .main{
    transform: perspective(60em) rotateY(20deg) translateZ(20em) scale(0.56);
    animation: animate .3s ease;
    cursor: pointer;
}


@keyframes animate{
    0%{
        transform: translate(0);
    }
    100%{
        transform: perspective(60em) rotateY(20deg) translateZ(20em) scale(0.56);
    }
}


.links{
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

ul{
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #eee;
    padding: 0.7em 0;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 2px;
    transition: .3s;
    opacity: 0;

    text-transform: uppercase;
    transform: translateY(10px);
    padding: 0.8em 1.8em;
    margin-bottom: 20px;

    animation: hide .5s forwards ease;
}


.links a:hover{
    background-color: royalblue;
    border-radius: 2em;
    color: #fff;
}

.container.active .links a{
    animation: apper 0.5s forwards ease var(--i);
}

@keyframes apper{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes hide{
    0%{
        opacity: 1;
        transform: translateY(0px);
    }

    100%{
        opacity: 0;
        transform: translateY(10px);
    }
}